body {
}

ul {
  list-style: none;
}

/*------------------HEADER-----------------*/
.header {
}
.header-logo {
}
.header-navigation {
}
.header-navigation-list {
}
.header-list-item {
}
.header-list-link {
}
.contacts {
}
.contacts-link {
}
.contacts-list {
}
.contacts-list-item {
}
.contacts-list-link {
}

/*------------------HERO-----------------------*/

.hero {
}
.hero-image {
}
.hero-title {
}
.hero-btn {
}
.hero-icon {
}
.hero-text {
}

/*----------------------ABOUT US--------------------*/

.about {
}
.about-title {
}
.about-text {
}
.about-image {
}

/*-----------------------OUR COLLECTION----------------------*/

.collection {
}
.collection-title {
}
.collection-list {
}
.collection-list-item {
}
.collection-list-image {
}
.collection-list-subtitle {
}
.collection-list-text {
}

/*------------------------ILLUSTRATION------------------------*/

.illustration {
}
.illustration-img {
}

/*--------------------------ORDER-----------------------*/

.order {
}
.order-title {
}
.order-img {
}
.order-text {
}
.order-span {
}
.order-btn {
}

/*-----------------------TESTIMONIALS-----------------------*/

.customers {
}
.customers-title {
}
.customers-list {
}
.customers-list-item {
}
.customers-list-img {
}
.customers-list-subtitle {
}
.customers-list-text {
}

/*----------------------------FOOTER-----------------------*/

.footer {
}
.footer-navigation {
}
.footer-navigation-list {
}
.footer-navigation-item {
}
.footer-navigation-link {
}
.footer-text {
}
